{% extends "admin/change_form.html" %}
{% load i18n admin_modify admin_static %}

{% block object-tools-items %}
    <li><a href="../history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}
        {% if original.get_public_absolute_url %}
        <li><a href="{{ original.get_public_absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
        {% endif %}
        
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% if original.is_public %}
                {% trans "View on site" %}
            {% else %}
                {% trans "Preview on site" %}
            {% endif %}
            </a>
        </li>
    {% endif%}
{% endblock %}

{% block submit_buttons_bottom %}
    {% if not original or not original.is_marked_for_deletion %}{% submit_row %}{% endif %}

    {% if adminform and add %}
       <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
    {% endif %}
{% endblock %}



